<h1><%= @project.title %></h1>
<h3>By: <%=link_to @project.user.first_name, user_path(@project.user_id) %></h3>

<% if @project.image.present? %>
  <%= image_tag @project.image %>
<% end %>
<p><%= @project.description %></p>

<!-- Update section -->
  <h2>Updates</h2>
  <% @project.updates.reverse.each do |update| %>
    <p><%= update.description%> 
      <small><%= update.created_at.strftime("%A %b %d %Y")  %></small></p>
  <% end %>

<% if !@pledge_status %>
  <%= form_for [@project, Update.new] do |f| %>
    <p><%= f.text_area :description%></p>
    <p><%= f.submit "Update" %></p>
  <% end %>
<% end %>
  
<!-- Comments -->
<h2>Comments</h2>
  <% @project.comments.reverse.each do |comment| %>
    <p><%= comment.text%> 
      <small><%= comment.created_at.strftime("%A %b %d %Y")  %></small></p>
  <% end %>

<% if @pledge_status %>
  <%= form_for [@project, Comment.new] do |f| %>
    <p><%= f.text_area :text%></p>
    <p><%= f.submit "Submit" %></p>
  <% end %>
<% else %>
  <p>You need to pledge for this project to comment!</p>
<% end %>

<!-- Pledge information -->
<p>Total Pledged: $<%= @total_pledged%></p>
<p>Goal: <%= number_to_currency(@project.goal) %></p>
<p>Fundraising starts: <%= @project.start_date.strftime("%A %b %d %Y") %></p>

<p>Deadline: <%= @project.end_date.strftime("%A %b %d %Y") %></p>
<% if @pledge_status %>
  <p>You have already backed this project.</p>
<% end %>

<%= form_for [@project, Pledge.new] do |f| %>
  <%= f.number_field :dollar_amount, value: @project.rewards.minimum(:dollar_amount), step: 0.01 %>
  <%= f.submit "Pledge" %>
<% end %>

<% if @pledge_status%>
  <h2>Who has pledged your project?</h2>
  <% @pledges.each do |pledger|%>
    <p><%= link_to pledger.user.first_name, user_path(pledger.id)%></p>
  <% end %>
<%end %>

<h2>Rewards</h2>
<% @project.rewards.each do |reward| %>
  <p><%= number_to_currency(reward.dollar_amount) %></p>
  <p><%= reward.description %></p>
  <p># available: <%= reward.amount%> | claimed: <%= reward.claimed %></p>
  <p>
    <% if !@pledge_status %>
    <small>
      <%= link_to "Edit", edit_project_reward_path(@project, reward)%> | <%= link_to "Remove reward", project_reward_path(@project, reward), method: 'delete' %>
    </small>
    <% end %>
  </p>
<% end %>

<%= link_to "Add new reward", new_project_reward_path(@project) %>
